.footer {
  background: #c6c6c6;
}
.footer-container {
  width: 100%;
  padding: 30px;
  margin: 0px auto;
  background: #c6c6c6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.footer-section {
  width: 100%;
  text-align: center;
}

.footer-left ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: space-evenly;
}
.footer-left ul li {
  padding: 10px 0;
}
.footer-left ul li a svg {
  text-decoration: none;
  color: #7e7ee9;
  width: 30px;
  height: 40px;
}
.footer-left ul li a svg:hover {
  color: #5757a3;
  transition: 0.4s;
  box-shadow: 2px 2px 4px #fff;
  border-radius: 10px;
}
.footer-section .footer-center .footer-content {
  font-size: 18px;
  box-shadow: 2px 2px 4px #fff;
  border-radius: 20px;
}
.footer-right ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.footer-right ul li {
  padding: 2px 0;
}
.footer-right ul li a {
  text-decoration: none;
  color: #7e7ee9;
  font-size: 20px;
  padding: 5px;
}
.footer-right ul li a:hover {
  color: #5757a3;
  transition: 0.4s;
  box-shadow: 2px 2px 4px #fff;
  border-radius: 10px;
}
@media screen and (min-width: 992px) {
  .footer-container {
    flex-direction: row;
  }
}
