@media screen and (min-width: 310px) {
  .header-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 65vh;
    background-color: #d7d7ff;
    background-image: url('../images/oficina.jpg');
    background-size: cover;
  }
  .header-img {
    width: 85%;
  }
  .main-info h1 {
    font-size: 30px;
    color: #5454d6;
    background: #ccc;
    border-radius: 30px;
    padding: 15px;
    position: relative;
    margin: 0;
    bottom: 10px;
    width: 100%;
    box-shadow: inset 7px 6px 5px #999, 7px 6px 5px #8787c4;
    text-shadow: 5px 5px 4px #a5a5cc;
  }
  .typed-text {
    font-size: 20px;
    color: #5454d6;
    font-weight: 600;
    background: #a5a5cc;
    border-radius: 20px;
    padding: 12px;
    text-align: center;
    text-shadow: 5px 5px 4px #d7d7ff;
  }
}
@media screen and (min-width: 410px) {
  .header-wrapper {
    height: 90vh;
  }
  .header-img {
    width: 100%;
  }
  .img-container {
    width: 70%;
    margin: 0px auto;
  }
  .right {
    width: 100%;
  }
  .main-info {
    width: 100%;
    margin: 0px auto;
  }
}
@media screen and (min-width: 992px) {
  .header-wrapper {
    flex-direction: row;
    height: 87.5vh;
  }
  .right {
    width: 50%;
  }
  .header-img {
    width: 100%;
  }
  .img-container {
    width: 81%;
    margin-left: 10%;
  }
  .main-info {
    margin-right: 50px;
    width: 90%;
  }
  .main-info h1 {
    font-size: 40px;
  }
}
