@media screen and (min-width: 310px) {
  .portfolio-container {
    width: 90%;
    padding: 6px;
    margin: 0px auto;
    background: #c6c6c6;
    border-radius: 20px;
  }
  .portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .portfolio-card {
    margin: 10px 0;
    border-radius: 20px;
    box-shadow: 4px 4px 8px #0a0a0a, inset 10px 10px 8px #f1f1f1;
    width: 100%;
    padding: 5px;
  }
  .portfolio-card-header {
    color: #4c4c7c;
    text-shadow: 2px 2px 5px #616161;
  }
  .portfolio-card-body img {
    width: 80%;
  }

  .portfolio-card-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
  }
  .portfolio-card-footer button {
    width: 90%;
    font-size: 16px;
    background: #a6a6e6;
    color: #fff;
    border: 0.5px solid #000;
    border-radius: 20px;
    box-shadow: 2px 2px 4px #4c4c7c;
    padding: 2px;
    margin: 0px 8px;
  }
  .portfolio-card-footer button:hover {
    background: #4c4c7c;
    color: #aaa;
    transition: 0.4s;
  }
  .portfolio:hover .portfolio-card {
    filter: blur(5px);
    transform: scale(0.9);
    opacity: 0.5;
    transition: 0.3s;
  }
  .portfolio .portfolio-card:hover {
    filter: blur(0px);
    transform: scale(1.1);
    opacity: 1;
    transition: 0.3s;
  }
}
@media screen and (min-width: 640px) {
  .portfolio {
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: initial;
  }
  .portfolio-card {
    width: 45%;
    margin: 15px 10px;
    padding: 0;
  }
  .portfolio-card-footer button {
    font-size: 18px;
    padding: 3px;
  }
}

@media screen and (min-width: 990px) {
  .portfolio-card {
    width: 31%;
    margin: 10px;
  }
}
