.scrollToTop {
  position: fixed;
  top: 90%;
  left: 2%;
  width: 5%;
  padding: 12px 2px;
  background: #5454d6;
  border-radius: 50%;
  text-align: center;
}
.scrollToTop:hover {
  box-shadow: 3px 3px 5px #fff;
  cursor: pointer;
  background: #37378b;
  transition: 0.4s;
}

.goTopIcon {
  color: #fff;
  font-size: 30px;
}
