.tech-container {
  margin: 0;
  padding: 5px;
  background: #a6a6ea;
}
.tech {
  width: 90%;
  padding: 6px;
  margin: 0px auto;
  background: #c6c6c6;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.tech-card {
  margin: 20px 0;
  border-radius: 20px;
  background: #fff;
}

.tech-card .img-container {
  width: 100%;
  background: #fff;
  padding: 10px;
  border-radius: 20px;
}
.tech-card .img-container .tech-card-img {
  width: 100%;
  margin: 0px auto;
  border-radius: 20px;
  overflow: hidden;
  transition: 0.5s;
}

.tech-card .details {
  position: relative;
  padding: 5px;
  margin-top: -305px;
  text-align: center;

  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid #8686c8;
  box-shadow: 7px 7px 8px #070707;
  width: 50%; /*100%*/
  height: 300px;
  background: #a6a6ea;
  transition: 0.5s;
  transform-origin: left;
  transform: perspective(2000px) rotateY(-90deg);
}
.tech-card .details .center h4 {
  position: absolute;
  /* word-wrap: break-word; */
  text-align: center;
  line-height: 20px;
  top: 50%;
  left: 20%;
  padding: 0;
  color: #fff;
  line-height: 20px;
  font-size: 20px;
  text-transform: uppercase;
}

.tech-card:hover .details {
  transform: perspective(2000px) rotateY(20deg);
  height: 300px;
  margin-top: -305px;
  /* word-wrap: break-word; */
  text-align: center;
  line-height: 20px;
}
.tech-card:hover .details h4 {
  transform: perspective(2000px) rotateY(20deg);
}
.tech-card:hover .img-container {
  padding: 10px;
  transition: 0.5s;
}

.tech-card:hover .img-container .tech-card-img {
  opacity: 0.4;
  transform: translateX(15%) rotateY(-50deg);
  overflow: hidden;
  height: 280px;
  transition: 0.5s;
  box-shadow: 7px 7px 5px #8686c8;
}
@media screen and (min-width: 640px) {
  .tech {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .tech-card {
    width: 40%;
    margin: 20px 20px;
  }
  .tech-card .img-container {
    width: 100%;
    background: #fff;
    padding: 10px;
    border-radius: 20px;
  }
  .tech-card .img-container .tech-card-img {
    width: 100%;
    margin: 0px auto;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.5s;
  }
}
@media screen and (min-width: 992px) {
  .tech-card {
    width: 20%;
    margin: 10px 10px;
  }
  .tech-card .img-container {
    width: 100%;
    background: #fff;
    padding: 10px;
    border-radius: 20px;
    margin: 0;
  }
  .tech-card .img-container .tech-card-img {
    width: 100%;
    margin: 0px auto;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.5s;
  }
  .tech-card .details {
    padding: 5px;
    margin-top: -305px;
    width: 50%; /*100%*/
    height: 300px;
  }

  .tech-card:hover .details {
    transform: perspective(2000px) rotateY(20deg);
    height: 240px;
    margin-top: -255px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .tech-card:hover .details h4 {
    transform: perspective(2000px) rotateY(20deg);
    font-size: 15px;
    top: 30%;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: center;
    /* transform: rotateX(90deg);
    transform: rotateY(0deg); */
  }
  .tech-card:hover .img-container {
    padding: 10px;
    margin: 0;
    transition: 0.5s;
    height: 260px;
  }

  .tech-card:hover .img-container .tech-card-img {
    opacity: 0.7;
    transform: translateX(15%) rotateY(-50deg);
    overflow: hidden;
    height: 230px;
    transition: 0.5s;
    box-shadow: 7px 7px 5px #8686c8;
  }
}
